/*header*/
.about-btn{
 color: #fb8c00;
 font-weight: 400;
}

/*top*/
.top{
 margin-bottom: 200px;
}
.top-name{
 margin-bottom: 40px;
}

/*about*/
.about-me{
 margin: 0 0 160px 15%;
 display: flex;
}
.line-about{
 width: 3px;
 height: 160px;
 background-color: #fb8c00;
}
.my-profile{
 margin-left: 80px;
}
.name-furigana{
 justify-content: left;
 font-weight: 300;
}
.name{
 justify-content: left;
}
.univ{
 margin-bottom: 40px;
 text-align: left;
}
.sentence-about{
 width: 400px;
 font-size: 16px;
}
.sns-btn{
 color: #333;
 margin-right: 24px;
}
.sns{
 display: flex;
}
.top-image{
 width: 600px;
 margin-left: 120px;
 opacity: 0.1;
 position: static;
}

/*skill*/
.skills{
 margin-bottom: 160px;
}
.title-sentence-skill{
 width: 170px;
 font-size: 40px;
 font-weight: 300;
 letter-spacing: 16px;
 margin: 0 40px;
}
.contents-skills{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
.skill{
 width: 300px;
 min-width: 300px;
 height: 200px;
 overflow: hidden;
 position: relative;
 margin: 32px;
 border: solid 2px #f5f5f5;
 background-color: #fff;
}
.vertical-middle{
 display: inline-block;
 vertical-align: middle;
}
.icon-skill{
 padding: 24px 0 0 32px;
 display: inline;
}
.sentence-skill{
 padding-left: 8px;
 margin: 0;
 margin-top: 30px;
 display: inline-block;
 height: 40px;
 font-size: 24px;
 font-weight: 600;
}
.subtitle-skill{
  margin: 0;
 padding: 24px 0 24px 32px;
 font-weight: 400;
}
.use-skill{
 font-size: 12px;
 padding-left: 32px;
 margin: 0;
}

