@media screen and (max-width: 1750px){
 .top-image{
  display: none;
 }
}

@media screen and (min-width: 415px){
  .top{
   margin: 120px 0 200px 160px;
  }
 .sub-title1,.sub-title2{
  font-size: 40px;
 }
 .top-name{
  font-size: 96px;
 }
 
 .myoji-furigana,.namae-furigana{
  font-size: 32px;
 }
 .myoji,.namae{
  font-size: 56px;
  margin-top: 16px;
 }
 .univ{
  font-size: 16px;
 }
}