@media screen and (max-width: 1750px){
 .top-image{
  display: none;
 }
}

@media screen and (max-width: 500px){

 /*topページ*/
 header{
  display: none;
 }
 .head{
  display: inline;
 }
 #wrapper .btn-gnavi{
  display: inline;
 }
 .top{
  margin: 120px 0 80px 40px;
 }
 .sub-title1,.sub-title2{
  font-size: 16px;
 }
 .sub-title2{
  margin-bottom: 40px;
 }
 .top-name{
  font-size: 48px;
 }
 .line-left,.line-right{
  width: 2px;
  height: 40px;
 }
 .title-sentence{
  width: 140px;
  font-size: 24px;
  margin: 0 24px;
 }
 
 .name-furigana{
  margin-bottom: 8px;
 }
 .my-name,.name{
  margin-bottom: 16px;
 }
 .myoji-furigana,.namae-furigana{
  font-size: 16px;
 }
 .myoji,.namae{
  font-size: 32px;
 }
 .univ{
  margin-bottom: 40px;
 }
 .more-info{
  text-decoration: underline;
 }

 .title-sentence-works{
  width: 150px;
  font-size: 24px;
  margin: 0 24px;
 }
 .work .mask{
  opacity: 1;
  padding-top: 60px;
  background-color: rgba(0, 0, 0, 0.7);
 }

 .contact{
  margin-bottom: 64px;
 }
 .title-sentence-contact{
  width: 200px;
  font-size: 24px;
  margin: 0 24px;
 }
 .icon{
  width: 40px;
 }
 .btn-contact{
  margin: 16px;
 }

 /*about*/
 .about-me{
  margin-left: 5%;
 }
 .my-profile{
  margin-left: 32px;
 }
 .line-about{
  height: 100px;
 }
 .title-sentence-skill{
  width: 130px;
  font-size: 24px;
  margin: 0 24px;
 }
 .sentence-about{
  width: 300px;
 }
 .contents-skill{
  display: block;
  margin: 0 auto;
 }
 .title-skill{
  margin-bottom: 0;
 }
 .use{
  margin: 56px 0;
  text-align: center;
 }

  /*works*/
 .contents{
   width: 90%;
   margin: 0 auto;
  margin-left: 24px;
  margin-bottom: 80px;
  flex-direction:column;
 }
 .contents-hp{
  
 }
 .work-info{
  margin: 80px 32px;
  display: inline-block;
 }
 .work-image-hp{
  display: none;
 }
 .work-image{
  order: 1;
  width: 300px;
  height: auto;
 }
 .work-image-function{
  width: 350px;
 }
 .sentence-right{
  margin-left: 0;
  text-align: left;
  order: 2;
 }
 .sentence-left{
  margin-left: 0;
  text-align: left;
  order: 2;
 }
 .tea-image{
  display: inline;
  width: 80%;
  text-align: center;
  margin: 160px 0 0 32px;
 }
}