.service-title{
 padding: 120px 0;
 margin: 0;
}
.service{
 font-size: 20px;
 text-align: center;
}
.service-name{
 font-size: 32px;
 margin: 16px 0;
 font-weight: 600;

 text-align: center;
}
.line-work{
 margin: 0 auto;
 background-color: #009688;
}
.contents{
 justify-content: center;
 margin: 0 0 80px 0;
}
.work-image{
 width: 358px;
 height: auto;
 margin: 0;
 }
 .work-image-hp{
  width: 358px;
  height: auto;
  margin: 0;
 }
 .work-image-function{
  width: 500px;
  height: auto;
  border: solid 2px #f5f5f5;
 }
 .sentence-right{
  margin: 24px 0 0 80px;
 }
 .sentence-left{
  margin: 24px 80px 0 0;
 }
 .content-title{
  font-size: 20px;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
 }
 .work-detail{
  width: 400px;
  margin: 0 0 24px 0;
  line-height: 32px;
 }
 .work-info-btn{
  background-color: #009688;
  color: #fff;
 }
 .work-info-btn :hover{
  background-color: #fff;
  color: #009688;
  border: solid 2px #009688;
  border-radius: 4px;
 }
