.contents{
 margin: 180px 0;
 display: flex;
 justify-content: center;
}
.contents-hp{
 margin: 180px 0;
 display: flex;
 justify-content: center;
}
.work-image-hp{
 width: 500px;
}
.work-info{
 width: 400px;
 margin: 0 0 32px 80px;
}
.company{
 font-size: 24px;
}
.service{
 font-size: 32px;
 margin: 0;
}
.line-work{
 width: 80px;
 height: 3px;
 background-color: #fb8c00;
 margin: 24px 0 40px 0;
}
.work-type{
 font-size: 20px;
 margin: 16px 0;
}
.period,.tool{
 font-size: 16px;
 margin: 8px 0;
}
.work-detail{
 font-size: 16px;
 margin: 32px 0;
}
.work-info-btn{
 width: 160px;
 height: 40px;
 background-color: #fb8c00;
 display: inline-block;
 text-decoration: none;
 color: #fafafa;
 border-radius: 4px;
}
.work-info-text{
 font-size: 14px;
 margin: 0;
 text-align: center;
 line-height: 40px;
}